
<h1>{{title}}</h1>

<hr>


<form ref='uploadForm'
      id='uploadForm'
      method='post'
      encType="multipart/form-data">

    <input type="file" name="fileObject" />
    <input id="submitButton" type='submit' value='upload' />
</form>

<div id="post-results-container">

    <div class="data">

    </div>
</div>


<script type="text/javascript" src="/javascripts/uploadhandler.js"></script>